    main {
        background-color: rgb(245, 245, 245);
    }

    .top {
        padding: 16px;
    }

    .product-line {
        padding: 32px;
    }

    .product-line_products__product___code {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        margin-top: 8px;
    }

    .product-hidden {
        display: flex;
    }

    .product-line_top {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 16px;
    }

    .product-line_top__title {
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
    }

    .product-line_top__button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 16px;
        background: #2A7AE4;

        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF;
    }

    @media screen and (min-width: 361px) and (max-width: 768px) {

        .product-line_top {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 0px;
            gap: 16px;
        }
    }

    @media screen and (min-width: 769px) {
        .top {
            padding: 32px 152px;
        }

        .product-line {
            padding: 64px 152px;
        }

        .product-line_top {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 0px;
            gap: 16px;
        }
    }